@charset "UTF-8";
/**
 * 轮播组件
 */
.ui-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 62.5%;
  margin-top: -10px; }

.ui-slider-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%; }

.ui-slider-content > li {
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  position: relative; }
  .ui-slider-content > li > figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/banner_bg.png") repeat-x;
    background-size: 5px auto;
    z-index: 99;
    padding: 5px 15px;
    color: #eee; }

.ui-slider-content > li img {
  display: block;
  width: 100%; }

.ui-slider-content > li span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%; }

.ui-slider-content > li.active {
  opacity: .5; }

.ui-slider-indicators {
  position: absolute;
  width: 100%;
  top: 10px;
  font-size: 0;
  text-align: center; }

.ui-slider-indicators li {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #f75549;
  border-radius: 10px;
  margin: 0 3px;
  -webkit-box-sizing: border-box;
  background-clip: padding-box;
  position: relative; }

.ui-slider-indicators li.current:before {
  content: '';
  position: absolute;
  background-color: #f75549;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  background-clip: padding-box; }

.ui-slider-indicators-center {
  -webkit-box-pack: center;
  right: 0; }
