@import

    "../base/mixin",
    "../base/variable";

.ui-icon_star{
    display: inline-block;
    width: 24px;
    height: 1px;
    position: relative;
    vertical-align: middle;

    &.active{
        &:after{
            background-position: 0 -24px;
        }
    }

    &-list{
        padding-left: 15px;
        &>i{
            margin:0 2px;
        }
    }
}
.ui-icon_star:after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/star.png) -2px 0;
    -webkit-background-size: 24px auto;
    position: absolute;
    line-height: 100px;
    top: -13px;


}


.ui-icon-foot{
    display: inline-block;
    width: 30px;
    height: 1px;
    position: relative;
    vertical-align: middle;

    &:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url(../images/footer_icon.png) -2px 0;
        -webkit-background-size: 60px auto;
        position: absolute;
        line-height: 100px;
        top: -6px;
    }

    &.active{
        &~div{
            color: $button-danger-bg-color;
        }
    }

    &~div{
        padding-top: 14px;
        font-size: 14px;
        color: #999;
    }

    &_home{
        &:after{
            background-position: 0 0;
        }
        &.active{
            &:after{
                background-position: -30px 0;
            }
        }
    }
    &_order{
        &:after{
            background-position: 0 -30px;
        }
        &.active{
            &:after{
                background-position: -30px -30px;
            }
        }
    }
    &_class{
        &:after{
            background-position: 0 -120px;
        }
        &.active{
            &:after{
                background-position: -30px -120px;
            }
        }
    }
    &_tips{
        &:after{
            background-position: 0 -60px;
        }
        &.active{
            &:after{
                background-position: -30px -60px;
            }
        }
    }&_my{
        &:after{
            background-position: 0 -90px;
        }
        &.active{
            &:after{
                background-position: -30px -90px;
            }
        }
    }
    &_issue{
        width: 60px;
        &:after{
            width: 60px;
            height: 60px;
            background-position: 0 -150px;
            top: -43px;
        }
        &.active{
            &:after{
                background-position: -30px -120px;
            }
        }
    }
}

/*<li><i class="ui-icon-foot ui-icon-foot_home"></i><div>首页</div></li>
<li><i class="ui-icon-foot ui-icon-foot_class"></i><div>分类</div></li>
<li><i class="ui-icon-foot ui-icon-foot_issue"></i></li>
<li><i class="ui-icon-foot ui-icon-foot_tips"></i><div>消息</div></li>
<li><i class="ui-icon-foot ui-icon-foot_my"></i><div>我的</div></li>
<li><i class="ui-icon-foot ui-icon-foot_order"></i><div>我的</div></li>*/
/*.ui-icon-vip,
.ui-icon-svip,
.ui-icon-yearsvip,
.ui-icon-yearvip{
    @extend .ui-icon-qq;
}
.ui-icon-vip:after{
    background-position: -2px -25px;
}
.ui-icon-svip:after{
    background-position: -2px -50px;
}
.ui-icon-yearsvip:after{
    background-position: 0 -75px;
}
.ui-icon-yearvip:after{
    background-position: 0 -100px;
}*/

