@import

    "../base/mixin",
    "../base/variable";
    
.ui-header,
.ui-footer {
    position: fixed;
    width: 100%;
    z-index: $z-index-head;
    left: 0;
}
.ui-header {
    top: 0;
    height: $header-height;
    line-height: $header-height;
}
.ui-header-stable,
.ui-header-positive{
    padding: 0 10px;
    box-sizing: border-box;
}
.ui-header-stable,
.ui-footer-stable{
    background-color: $default-bg;
}
.ui-header-positive,
.ui-footer-positive{
    background-color: $positive-bg;
    color: #fff;
    a,a:active,i{
        color: #fff;
    }
}
.ui-footer-btn{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
    color: $txt-link;
    .ui-tiled{
        height: 100%;
    }
}
.ui-footer {
    bottom: 0;
    height: 56px;
}
.ui-header ~ .ui-container {
  border-top: 55px solid transparent;
}
.ui-footer ~ .ui-container {
  border-bottom: 65px solid transparent;
}
.ui-header h1{
    text-align: center;
    font-size: 18px;
}
.ui-header .ui-icon-return{
    position: absolute;
    left: 0;
}
.ui-header .ui-btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    background: $default-bg;
    border-color: $default-bg;
    padding: 0;
}
.ui-header .ui-btn:before{
    border: none;
}
.ui-header{
    .ui-btn-navbar{
        margin-top:5px;
    }


    &-downmenu{
        width:70px;
        padding-left:15px;
    }
}
/**
 * 垂直上下居中
 */
.ui-center {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    height: 150px;
}
/**
 * 排版
 */
 .ui-flex,
 .ui-tiled{
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
}
.ui-flex-ver{
    -webkit-box-orient: vertical;
}
.ui-flex-pack-start {
    -webkit-box-pack: start;
}
.ui-flex-pack-end {
    -webkit-box-pack: end;  
}
.ui-flex-pack-center {
    -webkit-box-pack: center;
}
.ui-flex-align-start {
    -webkit-box-align: start; 
}
.ui-flex-align-end {
    -webkit-box-align: end;
}
.ui-flex-align-center {
    -webkit-box-align: center;
}
/**
 * 平铺
 */
.ui-tiled li {
    -webkit-box-flex: 1;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center; 
}

.ui-pull{
    &-left{
        float: left;
    }
    &-right{
        float: right;
    }
}
.ui-gap{
    &-r{
        &-s{
            margin-right: $wrap-padding-s;
        }
    }
    &-t{
        &-s{
            margin-top:$wrap-padding-s;
        }
    }
}

.ui-pad{
    padding:$wrap-padding;
    &-t{
        &-s{
            padding-top:$wrap-padding-s;
        }
    }
    &-b{
        padding-bottom: $wrap-padding;
    }
    &-s{
        padding: $wrap-padding-s;
    }
    &-h{
        padding-left:0;
        padding-right: 0;
    }
    &-v{
        padding-top: 0;
        padding-bottom: 0;
    }
    &-lg{
        padding: 30px;
    }
}

.ui-bg-white{
    background: #fff !important;
}
.ui-bg-transparent{
    background: transparent !important;
}

.ui-no{
    &-gap{
        margin: 0 !important;
    }
    &-pad{
        padding: 0 !important;
    }
}


.ui-guide{
    position: absolute;
    left: 0;
    top:45px;
    bottom:55px;
    right: 0;
    background: #fff;
    text-align: center;
    &-nav{
        //width: 100px;
        background: #f6f6f6 url(../images/guide_b.gif?11) repeat-y top right;
        height: 100%;
        padding: 15px 0;
        overflow-y:auto;
        li{
            padding: 15px;

            &.current{
                color: $button-danger-bg-color;
                background: url("../images/guide_a.gif") center right no-repeat;
                background-size: 14px auto;
            }
        }
    }
    &-container{
        padding:20px 10px;
        height: 100%;
        overflow-y:auto;
    }
    &-content{
        display: none;
        &.current{
            display: block;
        }

        li{
            padding-bottom:20px;
        }
    }
}

.ui{
    &-inline{
        display: inline-block !important;
    }

    &-thumb{
        &-alpha{
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 62.5%;
            &>span{
                position: absolute;
                z-index:$z-index-img;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                -webkit-background-size: 100% 100%
            }
            &>figcaption{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: url("../images/banner_bg.png") repeat-x;
                background-size: 5px auto;
                z-index: $z-index-notice;
                padding:5px 15px;
                color: #eee;
            }
        }

        &-card{
            &-list{
                .ui-thumb-list-item{
                    box-shadow: 2px 2px 4px #ccc;
                }

                figcaption{
                    bottom: 40%;
                    font-size: 20px;
                    text-align: center;
                    background: none;
                }
            }
        }
    }

    &-header-no-gap{
        margin-top: -10px;
    }

    &-article{
        &>*{
            margin-bottom:15px;
        }
        h4{
            color: $button-danger-bg-color;
            border-left: 2px solid $button-danger-bg-color;
            line-height: 16px;
            padding-left:10px;
        }
        p{

        }
    }

    &-strip{
        &-item{
            height: 40px;
            background: #B6FDDF;
            border:1px solid #ccc;
            margin:5px -1px;
            &.current{
                background: #FFCFCF;
            }

            &.disabled{
                background: #f8f8f8;
            }

            &-icon{
                width: 16px;
                height: 16px;
                display: inline-block;
                background:#B6FDDF ;
                position: relative;
                top: 3px;
                margin-right:5px;

                &.current{
                    background: #FFCFCF;
                }

                &.disabled{
                    background: #f8f8f8;
                }
            }
        }
    }
}

.actionsheet{
    position: fixed;
    z-index:$z-index-tooltips;
    background: $poptips-bg;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;

    &-cnt{
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        padding:15px 15px 55px;
        text-align: center;
        background: #fff;

        h4{
            padding-bottom: 5px;
        }
        
        .button-group{
            max-height: 320px;
            overflow-y: auto;
            padding-bottom:10px;
        }
        button{
            display: block;
            width: 100%;
            text-align: left;
            margin-top:10px;
            border-radius: $border-radius-base;
            border:1px solid $bordercolor;
            padding:14px $wrap-padding;

            &.current{
                background: $bordercolor;
            }
        }
    }
}